@font-face {
    font-family: "FonteOswald";
    src: url(../Fonts/Oswald-VariableFont_wght.ttf);
}

body {
    background-image: linear-gradient(rgb(116, 243, 255), rgb(54, 194, 215), rgb(188, 200, 202));
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.espaco {
    width: 700px;
    height: 400px;
    background-image: linear-gradient(rgba(113, 210, 219, 0), rgb(30, 152, 170),rgba(39, 111, 122, 0));
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 300px;
    border-radius: 2%;
}

h1 {
    font-family:'FonteOswald';
    text-align: center;
    color: transparent;
    font-size: 50px;
    -webkit-text-stroke: 2px rgba(23, 45, 45, 0.59);


}
.linha {
    margin-top: -60px;
    margin-left: 269px;
}

.email {
    background-color: rgba(57, 154, 154, 0);
    margin-left: 0px;
    margin-top: -15px;
    width: 350px;
    height: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}
.senha {
        background-color: rgba(57, 154, 154, 0);
        margin-left: 0px;
        margin-top: -15px;
        width: 350px;
        height: 35px;
        border-radius: 5px;
}

.ButtonEntrar {
    margin-left: 278px ;
    margin-top: 15px ;
    width: 150px;
    background-color: rgb(52, 86, 87);
    font-family: 'FonteOswald';
    border-radius: 8px;


}
.inputSenha {
    margin-left: 170px;
    margin-top: 0px;
    font-family: 'FonteOswald';
    font-size: 10px;

}

.inputLogin {
    margin-left: 170px;
    margin-top: 0;
    font-size: 11px;
    font-family: 'FonteOswald';
}
.p {
    margin-left: 436px;
    font-size: 9px;
    margin-top: 0px;
    color: black;
}
.registro {
    font-size: 12px;
    margin-left: 275px;
    margin-top: 3px;
    color: black;
}
